<div class="container ">
    <div class="row pt-5">
        <div class="mx-auto">
            <div class="card rounded-10">
                <div class="card-header">
                    <h3 class="d-flex justify-content-center">{{patient.name}}</h3>
                </div>
                <div class="card-body">
                    <form class="form" #checkupForm="ngForm" (ngSubmit)="add(checkupForm.value)">
                        <div class="d-flex flex-column p-3">
                            <label class=" h6">Detail</label>
                            <textarea class="form-control rounded-0 p-2" name="details" ngModel required></textarea>
                            <label class=" h6">Medicine</label>
                            <textarea class="form-control rounded-0 p-2" name="medicine" ngModel required></textarea>
                            
                            <!-- <div *ngIf="invalid" class="text-danger h6 text-center">Invalid Username Password</div> -->
                            <div class="d-flex justify-content-center p-2">
                                <button class="btn btn-primary w-50 " type="submit">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>